﻿@page "/"
@inject HttpClient Http

<button class="btn btn-primary" @onclick="StartLoading">Start loading</button>
<p>
    <input @bind="Year" /> Enter please year: @Year
</p>

<p>Current dbRecords count: @count</p>

<button class="btn btn-primary" @onclick="RefreshCounter">RefreshCount</button>

<p>Avarage math 2019: @avg2019</p>
<p>Avarage math 2020: @avg2020</p>

<button class="btn btn-primary" @onclick="RefreshAvarageMath">RefreshAvarage</button>

@code {
    string Year { get; set; } = "2020";
    long count { get; set; }
    string avg2019 { get; set; }
    string avg2020 { get; set; }

    protected async Task StartLoading()
    {
        if (Year == "2020" || Year == "2019")
        {
            await Http.GetAsync("Initialize/" + Year);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        count = await Http.GetFromJsonAsync<long>("Initialize");
        avg2019 = await (await Http.GetAsync("Initialize/math/2019")).Content.ReadAsStringAsync();
        avg2020 = await (await Http.GetAsync("Initialize/math/2020")).Content.ReadAsStringAsync();
    }

    protected async Task RefreshCounter()
    {
        count = await Http.GetFromJsonAsync<long>("Initialize");
        StateHasChanged();
    }

    protected async Task RefreshAvarageMath()
    {
        avg2019 = await (await Http.GetAsync("Initialize/math/2019")).Content.ReadAsStringAsync();
        avg2020 = await (await Http.GetAsync("Initialize/math/2020")).Content.ReadAsStringAsync();

        StateHasChanged();
    }
}
